/* Our crew section styles */
.our-crew {
  background-color: $crew-background-color;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-crew .title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-crew-members {
  display: flex;
  justify-content: center;
}
.our-crew-members .item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-crew-members .item + .item {
  margin-left: 30px;
}
.our-crew .text {
  margin-bottom: 16px;
}

.our-crew .social-links-list {
  margin-bottom: 30px;
}
