/* Our crew section styles */
.our-crew {
  background-color: $crew-background-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-crew .title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-crew-members {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    @media screen and (max-width: $desktop - 1px) {
      flex-wrap: wrap;
    }
  }
}
.our-crew-members .item + .item {
  @media screen and (min-width: $tablet) {
    margin-left: 30px;
  }
}
.our-crew-members .item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
  @media screen and (min-width: $mobile) {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
  &:not(:last-child) {
    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: 30px;
    }
  }
  &:nth-child(3n) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      @media screen and (max-width: $desktop - 1px) {
        margin-left: 0;
      }
    }
  }
}

.our-crew-members .item .image {
  width: 100%;
  @media screen and (min-width: $mobile) {
    height: 460px;
  }
  @media screen and (min-width: $tablet) {
    height: 374px;
  }
  @media screen and (min-width: $desktop) {
    height: 260px;
  }
}
.our-crew .text {
  margin-bottom: 16px;
}

// .our-crew .social-links-list {
//   margin-bottom: 24px;
//   @media screen and (min-width: $desktop) {
//     margin-bottom: 30px;
//   }
// }
