/* Header Styles */
.header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: $tablet - 1px) {
    height: 60px;
    position: relative;
  }
}
.header .container {
  @media screen and (max-width: $tablet - 1px) {
    //position: relative;
  }
}
.mobile-menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  fill: $secondary-text-color;
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $emphasis-color;
  }
}
.mobile-menu-close {
  display: none;
}
.mobile-menu-show {
  .mobile-menu-button.is-open & {
    display: none;
  }
}
.mobile-menu-close {
  .mobile-menu-button.is-open & {
    display: block;
  }
}

.mobile-menu-container {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 52px;
    padding-bottom: 52px;
    align-items: center;
    text-align: center;
    z-index: 99;
  }
  &.is-open {
    display: block;
  }
}
.header .container,
.mobile-menu-container,
.site-nav,
.nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.header .link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-bottom: 8px;
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.site-nav .item + .item {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 40px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.site-nav .link {
  color: $secondary-text-color;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $emphasis-color;
    opacity: 0;
    transform: scalex(0);
    transition: transform 250ms $animation-timing,
      opacity 250ms $animation-timing;
  }
  &:hover,
  &:focus {
    color: $emphasis-color;
  }
}
.site-nav .link.current {
  color: $emphasis-color;
  &::after {
    opacity: 1;
    transform: scalex(1);
  }
}

.adress-nav {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 52px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-left: 84px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 305px;
  }
}
.adress-nav .item + .item {
  @media screen and (min-width: $tablet) {
    @media screen and (max-width: $desktop - 1px) {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}
.adress-nav .link {
  justify-content: left;
  align-items: center;
  @media screen and (max-width: $tablet - 1px) {
    display: inline-flex;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    @media screen and (max-width: $desktop - 1px) {
      font-size: 12px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  color: $main-text-color;
  &:hover,
  &:focus {
    color: $emphasis-color;
  }
}
.adress-nav .link .contacts-icon {
  margin-right: 10px;
  --color3: currentColor;
  --color5: currentColor;
}
